<div class="text-center mt-4">
    <h2 style="color:rgb(238, 169, 21)">Ration Certificates List</h2>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">S.No</th>
            <th scope="col">UserName</th>
            <th scope="col">Applino</th>
            <th scope="col">Mobileno</th>
            <th scope="col">s/O(or)D/O</th>
            <th scope="col">FatherName</th>
            <th scope="col">Children</th>
            <th scope="col">Family</th>
            <th scope="col">Age</th>
            <th scope="col">District</th>
            <th scope="col">Mandal</th>
            <th scope="col">Village</th>
            <th scope="col">Income</th>
            <th scope="col">Adharno</th>
            <th scope="col">Documents</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let R of Ration index as i">
            <td>{{i+1}}</td>
            <td>{{R.UserName}}</td>
            <td>{{R.ApplicationNo}}</td>
            <td>{{R.MobileNumber}}</td>
            <td>{{R.Sonofdaughter}}</td>
            <td>{{R.SonOfDaughterName}}</td>
            <td>{{R.NoOfChildrens}}</td>
            <td>{{R.NoofAdultsinYourfamily}}</td>
            <td>{{R.Age}}</td>
            <td>{{R.District}}</td>
            <td>{{R.Mandal}}</td>
            <td>{{R.City}}</td>
            <td>{{R.Annualincome}}</td>
            <td>{{R.AadherNumber}}</td>
            <td>{{R.status}}</td>
            <td>
                <button mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>


