mat-card{
    width: 45%;
    margin: auto;
}
h2{
    color: rgb(5, 67, 137);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
mat-form-field{
    width: 80%;
    margin: auto;
}