<mat-card>
    <mat-toolbar>Birth-certificate</mat-toolbar>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Mobile No</th>
                <th>S/D</th>
                <th>Fname</th>
                <th>Dob</th>
                <th>PlaceDob</th>
                <th>District</th>
                <th>Mandal</th>
                <th>City</th>
                <th>HouseNo</th>
                <th>Pincode</th>
                <th>AadherNumber</th>
                <th>Rationcard</th>
                <th>status</th>

                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let B of Birth index as i">
                <td>{{i+1}}</td>
                <td>{{B.UserName}}</td>
                <td>{{B.MobileNumber}}</td>
                <td>{{B.Sonofdaughter}}</td>
                <td>{{B.SonOfDaughterName}}</td>
                <td>{{B.Dob | date:'dd/MM/yyyy'}}</td>
                <td>{{B.PlaceDob}}</td>
                <td>{{B.District}}</td>
                <td>{{B.Mandal}}</td>
                <td>{{B.City}}</td>
                <td>{{B.HouseNo}}</td>
                <td>{{B.Pincode}}</td>
                <td>{{B.AadherNumber}}</td>
                <td>
                    <img src="{{B.Rationcard}}" alt="img" width="60%" height="60%">
                </td>
                <td>{{B.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-card>