<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="admin-addemployee">Add Employee</a>
      <a mat-list-item routerLink="admin-viewemployee">View Employee</a>
      <a mat-list-item routerLink="admin-viewcaste">View caste-Certificate</a>
      <a mat-list-item routerLink="admin-viewpension">View Pension-Certificate</a>
      <a mat-list-item routerLink="admin-viewbirth">View Birth-Certificate</a>
      <a mat-list-item routerLink="admin-viewdeath">View Death-Certificate</a>
      <a mat-list-item routerLink="admin-viewration">View Ration-Certificate</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Collector-Admin</span>
      <span style="flex : 1 1 auto"></span>
      <button mat-raised-button color="warn" routerLink="/home">Logout</button>
    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
