<div class="main mt-4">
    <mat-card>
        <form [formGroup]="deathForm" (ngSubmit)="applyDeath()">
            <div class="text-center">
                <h2>Death-Certificate</h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input matInput placeholder="Enter UserName" formControlName="UserName" readonly>
                        </mat-form-field>
                    </div>
                   
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile no</mat-label>
                            <input matInput placeholder="Please Enter Mobileno" formControlName="MobileNumber"  type="number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mt-2 m-auto">
                        <mat-radio-group aria-label="Select an option" color="primary" formControlName="Sonofdaughter">
                            <mat-radio-button value="S/O">S/O</mat-radio-button>
                            <mat-radio-button value="D/O">D/O</mat-radio-button>
                          </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>S/O (or) D/O Name</mat-label>
                            <input matInput placeholder="Enter Name" formControlName="SonOfDaughterName">
                          </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Date of death</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="Dob">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Place of Death</mat-label>
                            <input matInput placeholder="Enter Place of Birth" formControlName="PlaceDob">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>District</mat-label>
                            <mat-select formControlName="District" >
                              <mat-option value="Karimnagar">Karimnagar</mat-option>
                              <mat-option value="Hanmakonda">Hanmakonda</mat-option>
                              <mat-option value="warangal">warangal</mat-option>
                              <mat-option value="Husnabad">Husnabad</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Mandal</mat-label>
                            <mat-select formControlName="Mandal">
                              <mat-option value="Gangadhara">Gangadhara</mat-option>
                              <mat-option value="Vanaparthi">Vanaparthi</mat-option>
                              <mat-option value="Bejanki">Bejanki</mat-option>
                              <mat-option value="Parkikal">Parkikal</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Town (or) Village</mat-label>
                            <mat-select formControlName="City">
                                <mat-option value="Odyaram">Odyaram</mat-option>
                                <mat-option value="Gatududenapalli">Gatududenapalli</mat-option>
                                <mat-option value="Veerapur">Veerapur</mat-option>
                                <mat-option value="Kasaram">Kasaram</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>House No</mat-label>
                            <input matInput placeholder="Enter Houseno" formControlName="HouseNo">
                        </mat-form-field>                        
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Pincode</mat-label>
                            <input matInput placeholder="Enter Pincode" formControlName="Pincode"  type="number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>AadharNumber</mat-label>
                            <input matInput placeholder="Enter Adharno" formControlName="AadherNumber"  type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 mt-3">
                            <mat-label><span style="color: red;">*</span>JobCard</mat-label>
                            <input  type="file" accept="image/*" class="form-control"  (change)="onSelectFile($event)" formControlName="Jobcard">
                    </div>
                 
                </div>
                <div class="text-center mt-4 mb-4">
                    <button mat-raised-button color="primary">Apply</button>
                </div>

            </div>
        </form>
    </mat-card>
</div>



