<mat-card>
    <mat-toolbar>Pension-certificate</mat-toolbar>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Mobile No</th>
                <th>S/D</th>
                <th>Fname</th>
                <th>Age</th>
                <th>Children</th>
                <th>District</th>
                <th>Mandal</th>
                <th>City</th>
                <th>HouseNo</th>
                <th>Pincode</th>
                <th>AadherNumber</th>
                <th>Aadharcard</th>
                <th>status</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let P of Pension index as i">
                <td>{{i+1}}</td>
                <td>{{P.UserName}}</td>
                <td>{{P.MobileNumber}}</td>
                <td>{{P.Sonofdaughter}}</td>
                <td>{{P.SonofDaughterName}}</td>
                <td>{{P.Age}}</td>
                <td>{{P.Children}}</td>
                <td>{{P.District}}</td>
                <td>{{P.Mandal}}</td>
                <td>{{P.City}}</td>
                <td>{{P.HouseNo}}</td>
                <td>{{P.Pincode}}</td>
                <td>{{P.AadherNumber}}</td>
                <td>
                    <img src="{{P.Aadharcard}}" alt="img" width="60%" height="60%">
                </td>
                <td>{{P.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-card>