<mat-card>
  <mat-toolbar>Caste-certificate</mat-toolbar>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
              <th>S.No</th>
              <th>Subject</th>
              <th>Description</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of Complaints index as i">
                <td>{{i+1}}</td>
              <td>{{data.Subject}}</td>
              <td>{{data.Description}}</td>  
               </tr>
          </tbody>
      </table>
  </div>
</mat-card>