<app-home-navbar></app-home-navbar>
<div>
    <form [formGroup]="loginform" >
        <mat-card>
            <mat-toolbar >Citizen-Login</mat-toolbar>
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="Please Enter UserName" formControlName="UserName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Please Enter Password" formControlName="Password">
            </mat-form-field>
            <div class="text-center mb-3 mt-2">
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
            <div class="text-center mb-3 mt-2">
                <a routerLink="/citizen-registration">New person Registered Here ?</a>
            </div>
        </mat-card>
    </form>
</div>

