mat-card{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}
mat-toolbar{
    color: rgb(2, 85, 195);
    background: rgb(221, 187, 187);
    font-weight: bold;
}
mat-form-field{
    width:60%;
    margin-left: 19%;
    margin-top: 3%;
}