<div class="text-center mt-4">
    <h2 style="color:rgb(238, 169, 21)">Pension Certificate List</h2>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">S.No</th>
            <th scope="col">UserName</th>
            <th scope="col">EmailId</th>
            <th scope="col">Mobileno</th>
            <th scope="col">s/O(or)D/O</th>
            <th scope="col">FatherName</th>
            <th scope="col">CasteType</th>
            <th scope="col">D.O.B</th>
            <th scope="col">District</th>
            <th scope="col">Mandal</th>
            <th scope="col">Village</th>
            <th scope="col">Houseno</th>
            <th scope="col">Pincode</th>
            <th scope="col">Adharno</th>
            <th scope="col">Documents</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>


