<div class="main">
    <form>
        <mat-card>
           <div class="text-center mt-4">
                <h2>Add-Complaints</h2>
           </div>
           <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <mat-form-field appearance="outline">
                        <mat-label>Subject</mat-label>
                        <input matInput placeholder="Enter Subject">
                    </mat-form-field>
                </div>
                <div class="col-sm-2"></div>
           </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
       </div>
       <div class="text-center">
        <button class="btn btn-success mb-4">Submit</button>
       </div>
        </mat-card>
    </form>
</div>