mat-card{
    width: 50%;
    margin: auto;
    margin-top: 3%;
}
mat-form-field{
    width: 100%;
}
h2{
    color:rgb(12, 39, 244);
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}