<mat-card>
    <mat-toolbar>Ration-certificate</mat-toolbar>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Mobile No</th>
                <th>S/D</th>
                <th>Fname</th>
                <th>Caste</th>
                <th>Dob</th>
                <th>District</th>
                <th>Mandal</th>
                <th>City</th>
                <th>AnnualIncome</th>
                <th>Aadharno</th>
                <th>Aadharcard</th>
                <th>status</th>

                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let R of Ration index as i">
                <td>{{i+1}}</td>
                <td>{{R.UserName}}</td>
                <td>{{R.MobileNumber}}</td>
                <td>{{R.Sonofdaughter}}</td>
                <td>{{R.SonofDaughterName}}</td>
                <td>{{R.NoOfChildrens}}</td>
                <td>{{R.NoofAdultsinYourfamily}}</td>
                <td>{{R.Age}}</td>
                <td>{{R.District}}</td>
                <td>{{R.Mandal}}</td>
                <td>{{R.City}}</td>
                <td>{{R.Annualincome}}</td>
                <td>{{R.AadherNumber}}</td>
                <td>
                    <img src="{{R.Photo}}" alt="img" width="60%" height="60%">
                </td>
                <td>{{R.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-card>