<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Citizen-Module</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="citizen-profile">Profile</a>
      <a mat-list-item routerLink="citizen-addcomplaint">Add-Complaints</a>
      <a mat-list-item routerLink="citizen-viewcomplaint">View-Complaints</a>
      <a mat-list-item [matMenuTriggerFor]="belowMenu">Apply Certificates&nbsp;<span class="material-symbols-outlined">
        expand_more
        </span></a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <a mat-menu-item routerLink="citizen-applycaste"> Cast-Certificates</a>
          <a mat-menu-item routerLink="citizen-applypension"> Pension-Certificates</a>
          <a mat-menu-item routerLink="citizen-applybirth"> Birth-Certificates</a>
          <a mat-menu-item routerLink="citizen-applydeath"> Death-Certificates</a>
          <a mat-menu-item routerLink="citizen-applyration"> Ration-Certificates</a>
        </mat-menu>
        <a mat-list-item [matMenuTriggerFor]="belowMenu1">View-Certificates&nbsp;<span class="material-symbols-outlined">
          expand_more
          </span></a>
          <mat-menu #belowMenu1="matMenu" yPosition="below">
            <a mat-menu-item routerLink="citizen-viewcaste">Cast-Certificates</a>
            <a mat-menu-item routerLink="citizen-viewpension">Pension-Certificates</a>
            <a mat-menu-item routerLink="citizen-viewbirth">Birth-Certificates</a>
            <a mat-menu-item routerLink="citizen-viewdeath">Death-Certificates</a>
            <a mat-menu-item routerLink="citizen-viewration">Ration-Certificates</a>
          </mat-menu>
      <a mat-list-item routerLink="citizen-chngPwd">Change-Password</a>
      <a mat-list-item routerLink="/home">Log-Out</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>District Collector Office Information</span>
    </mat-toolbar>
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
