<div class="text-center mt-4">
    <h2 style="color:rgb(238, 169, 21)">View Complaints</h2>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">S.No</th>
            <th scope="col">Subject</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let C of Complaints index as i">
            <td>{{i+1}}</td>
            <td>{{C.UserName}}</td>
            <td>{{C.Description}}</td>
          </tr>
        </tbody>
      </table>
</div>



