<mat-card>
    <mat-toolbar>Caste-certificate</mat-toolbar>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Mobile No</th>
                <th>S/D</th>
                <th>Fname</th>
                <th>Caste</th>
                <th>Dob</th>
                <th>District</th>
                <th>Mandal</th>
                <th>City</th>
                <th>HouseNo</th>
                <th>Pincode</th>
                <th>Sscmemo</th>
                <th>status</th>

                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let C of Caste index as i">
                <td>{{i+1}}</td>
                <td>{{C.UserName}}</td>
                <td>{{C.MobileNumber}}</td>
                <td>{{C.Sonofdaughter}}</td>
                <td>{{C.SonofDaughterName}}</td>
                <td>{{C.CastType}}</td>
                <td>{{C.Dob | date:'dd/MM/yyyy'}}</td>
                <td>{{C.District}}</td>
                <td>{{C.Mandal}}</td>
                <td>{{C.City}}</td>
                <td>{{C.HouseNo}}</td>
                <td>{{C.Pincode}}</td>
                <td>{{C.AadherNumber}}</td>
                <td>
                    <img src="{{C.Sscmemo}}" alt="img" width="60%" height="60%">
                </td>
                <td>{{C.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-card>