
<div>
    <form [formGroup]="UpdateForm" >
        <mat-card>
            <mat-toolbar >Citizen-Profille</mat-toolbar>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input matInput placeholder="Please Enter UserName" formControlName="UserName">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Please Enter Password" formControlName="Password">
                    </mat-form-field>
                <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Qualification</mat-label>
                        <mat-select formControlName="Qualification">
                          <mat-option value="MBA">MBA</mat-option>
                          <mat-option value="MCA">MCA</mat-option>
                          <mat-option value="B.TECH">B.TECH</mat-option>
                          <mat-option value="M.TECH">M.TECH</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-sm-4 mt-2">
                    <mat-radio-group aria-label="Select an option" color="primary" formControlName="Gender">
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                      </mat-radio-group>
                <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="Dob">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone no</mat-label>
                        <input matInput placeholder="Please Enter Phoneno" formControlName="Phoneno">
                    </mat-form-field>
                <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Email-Id</mat-label>
                        <input matInput placeholder="Please Enter UserName" formControlName="Emailid">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>District</mat-label>
                        <mat-select formControlName="District">
                            <mat-option *ngFor="let count of District" value="{{count.name}}">{{count.name}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                <div class="col-sm-2"></div>
                </div>
            </div> 

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Mandal</mat-label>
                        <mat-select formControlName="Mandal">
                            <mat-option value="Ramagundem">Ramagundem</mat-option>
                            <mat-option value="Khamanpur">Khamanpur</mat-option>
                            <mat-option value="Gangadhara">Gangadhara</mat-option>
                            <mat-option value="Choopandandi">Choopandandi</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Town/Village</mat-label>
                        <mat-select formControlName="City" placeholder="Town/Village">
                            <mat-option value="Godavarikhani">Godavarikhani</mat-option>
                            <mat-option value="Vedurugatta">Vedurugatta</mat-option>
                            <mat-option value="Kothapalli">Kothapalli</mat-option>
                            <mat-option value="Odyaram">Odyaram</mat-option>
                        </mat-select>
                      </mat-form-field>
                <div class="col-sm-2"></div>
                </div>
            </div>


            <div class="text-center mb-3 mt-2">
                <button mat-raised-button color="primary" (click)="Update()">UpdateProfile</button>
            </div>
        </mat-card>
    </form>
</div>

