mat-card{
    margin: auto;
    margin-top: 3%;
    width: 70%;
}
mat-toolbar{
    color: rgb(2, 85, 195);
    background: rgb(221, 187, 187);
    font-weight: bold;
}
mat-form-field{
    width:100%;
    margin-top: 3%;
}