<mat-card>
    <mat-toolbar>Death-certificate</mat-toolbar>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>S.No</th>
                <th>User Name</th>
                <th>Mobile No</th>
                <th>S/D</th>
                <th>Fname</th>
                <th>Caste</th>
                <th>Dob</th>
                <th>District</th>
                <th>Mandal</th>
                <th>City</th>
                <th>HouseNo</th>
                <th>Pincode</th>
                <th>Sscmemo</th>
                <th>status</th>

                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let D of Death index as i">
                <td>{{i+1}}</td>
                <td>{{D.UserName}}</td>
                <td>{{D.MobileNumber}</td>
                <td>{{D.Sonofdaughter}}</td>
                <td>{{D.SonofDaughterName}}</td>
                <td>{{D.Dob | date:'dd/MM/yyyy'}}</td>
                <td>{{D.PlaceDob}}</td>
                <td>{{D.District}}</td>
                <td>{{D.Mandal}}</td>
                <td>{{D.City}}</td>
                <td>{{D.HouseNo}}</td>
                <td>{{D.Pincode}}</td>
                <td>{{D.AadherNumber}}</td>
                <td>{{D.Jobcard}}</td>
                <td>
                    <img src="{{D.Jobcard}}" alt="img" width="60%" height="60%">
                </td>
                <td>{{D.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-card>